<script>
  import { setContext } from "svelte";
  import UserProfile from "./UserProfile.svelte";
  import createUserStore from "./createUserStroe";

  const userStore = createUserStore({
    id: 1,
    username: "user123",
    email: "user123@gmail.com",
  });

  setContext("user", userStore);
</script>

<main>
  <h1>Welcome back, {$userStore.username}</h1>
  <UserProfile />
</main>
