<!-- UserProfile.svelte -->

<script lang="ts">
  import { getContext } from "svelte";
  import { writable } from "svelte/store";

  // Define the User interface
  interface User {
    username: string;
    email: string;
  }

  // Create a custom store for the User with an additional updateUsername action
  function createUserStore() {
    const { subscribe, set, update } = writable<User>({
      username: "",
      email: "",
    });

    return {
      subscribe,
      set,
      updateUsername: (newUsername: string) => {
        update((user) => {
          user.username = newUsername;
          user.email = newUsername;
          return user;
        });
      },
    };
  }

  // Create an instance of the custom store
  const userStore = createUserStore();

  // Use getContext with a fallback value (an empty user object)
  const userContext = getContext<User>("user") || {
    username: "",
    email: "",
  };

  // Initialize userStore with the userContext
  userStore.set(userContext);
</script>

<div>
  <h2>My Profile</h2>
  <p>Username: {$userStore.username}</p>
  <p>Email: {$userStore.email}</p>
  <button on:click={() => userStore.updateUsername("Jane")}>
    Update username to Jane
  </button>
</div>
