<script lang="ts">
  import { appStore, decrement, increment, type AppState } from "./appStore";

  let state: AppState;
  appStore.subscribe((value) => {
    state = value;
  });
</script>

<main>
  <h1>Count: {state.count}</h1>

  <button on:click={increment}>Tăng số lượng</button>
  <button on:click={decrement}>Giảm số lượng</button>
</main>
