<script lang="ts">
  import Butoon from "./Butoon.svelte";
  import Card from "./Card.svelte";
  import EmitToParent from "./Emit_to_parent.svelte";
  import FunnyButton from "./FunnyButton.svelte";
  import Header from "./Header.svelte";
  import UserProfile from "./UserProfile.svelte";

  function handleButtonClick() {
    alert("Button clicked!");
  }

  let isHappy: boolean = true;

  const onAnsweNo = () => {
    isHappy = false;
  };

  const onAnswerYes = () => {
    isHappy = true;
  };
</script>

<main>
  <UserProfile
    name="John"
    age={20}
    favouriteColors={["green", "blue", "red"]}
    isAvailable={true}
  />

  <Header title="My App" />

  <Card title="Card Title">
    <p>This is the card content</p>
  </Card>

  <Butoon label="Click me" handleClick={handleButtonClick} />

  <p>Are you happy</p>
  <EmitToParent on:yes={onAnswerYes} on:no={onAnsweNo} />

  <p style="font-size: 50px;">{isHappy ? "😀" : "😥"}</p>

  <FunnyButton>Click me!</FunnyButton>
</main>
