<script lang="ts">
  import { createEventDispatcher } from "svelte";

  const dispatch = createEventDispatcher();

  function clickYes() {
    dispatch("yes");
  }

  function clickNo() {
    dispatch("no");
  }
</script>

<main>
  <button on:click={clickYes}>Yes</button>
  <button on:click={clickNo}>No</button>
</main>
