<script lang="ts">
  export let name: string;
  export let age: number;
  export let favouriteColors: string[];
  export let isAvailable: boolean;
</script>

<div class="user-profile">
  <h1>Name: {name}</h1>
  <p>Age: {age}</p>

  <ul>
    {#each favouriteColors as color}
      <li>{color}</li>
    {/each}
  </ul>
  {#if isAvailable}
    <p>User is available</p>
  {:else}
    <p>User is not available</p>
  {/if}
</div>

<style>
  .user-profile {
    border: 1px solid #ccc;
    padding: 16px;
    margin: 16px;
  }
</style>
