<script lang="ts">
  import { createEventDispatcher } from "svelte";

  export let message: string = "xcv";
  const dispatch = createEventDispatcher();

  const handleClick = () => {
    const customEvent = new CustomEvent("buttonClick", {
      detail: { message },
    });
    dispatch("buttonClick", customEvent);
  };
</script>

<main>
  <p>{message}</p>
  <button on:click={handleClick}>Send Message</button>
</main>

<style>
  main {
    text-align: center;
    padding: 1em;
    border: 1px solid #ccc;
  }
</style>
