<script lang="ts">
  import { count_1 } from "../../store";

  let count: number = 0;

  let currentValue: number;

  const increment = () => {
    count += 1;
  };

  const decrement = () => {
    count -= 1;
  };

  count_1.subscribe((value) => {
    currentValue = value;
  });

  const cong_1 = () => {
    count_1.update((n) => n + 1);
  };

  const cong_2 = () => {
    count_1.update((n) => n - 1);
  };
</script>

<main>
  <h1>Hello Svelte with TypeScript</h1>
  <p>Count: {count}</p>
  <button on:click={increment}>Increment</button>
  <button on:click={decrement}>Decrement</button>

  <h1>Counter 2</h1>
  <p>Count: {currentValue}</p>
  <button on:click={cong_1}>Cộng 1</button>
  <button on:click={cong_2}>Cộng 2</button>
</main>
