<script lang="ts">
  import { afterUpdate, beforeUpdate, onMount } from "svelte";

  let pageTitle: string = "";

  onMount(() => {
    pageTitle = document.title;
  });

  let count: number = 0;
  beforeUpdate(() => {
    console.log("Before update: Count is", count);
  });
  afterUpdate(() => {
    console.log("After update: Count is", count);
  });

  function increment() {
    count++;
  }
</script>

<main>
  Page title is: {pageTitle}
  <button on:click={increment}>Increment</button>
</main>
