<script lang="ts">
  let name: string = "John";
  name = "Jane";

  let age: number = 18;

  let count: number = 0;

  const increment = () => {
    count += 1;
  };

  let numbers: number = 0;
  const increment_1 = () => {
    numbers += 1;
  };

  $: doubleCount = numbers * 2;
</script>

<main>
  <h1>
    My name is {name}
  </h1>
  <h1>
    I'm {age} years old
  </h1>

  <p>Count {count}</p>
  <button on:click={increment}>Click me</button>

  <p>Count {numbers}</p>
  <p>DoubleCount: {doubleCount}</p>
  <button on:click={increment_1}>Increment</button>

  <h1 class="title">I'm red</h1>
  <button>I'm a button</button>
</main>

<style>
  .title {
    color: red;
  }
</style>
