<script lang="ts">
  // Hiển thị một số nguyên trong ứng dụng
  let age: number = 30;

  // Thực hiện phép tính số học
  let num1: number = 10;
  let num2: number = 5;
  let sum: number = 0;
  let difference: number = 0;
  let product: number = 0;
  let quotient: number = 0;

  const calculate = () => {
    sum = num1 + num2;
    difference = num1 - num2;
    product = num1 * num2;
    quotient = num1 / num2;
  };

  // Sử dụng số động trong vòng lặp
  let numbers: number[] = [1, 2, 3, 4, 5];

  // Định dạng số
  let amount: number = 1000;
  const formatAmount = () => {
    return amount.toLocaleString("en-US", {
      style: "currency",
      currency: "USD",
    });
  };
  // Sử dụng số nguyên để xử lý mảng
  let numbers_1: number[] = [10, 20, 30, 40, 50];
  let index: number = 0;

  const showValue = () => {
    if (index >= 0 && index < numbers_1.length) {
      alert(`Value at index ${index} : ${numbers_1[index]}`);
    } else {
      alert("Invalid index");
    }
  };

  let numberOfIterations: number = 5;
  let iterationCount: number = 0;

  const performIteration = () => {
    for (let i = 0; i < numberOfIterations; i++) {
      iterationCount++;
    }
  };

  // Tạo máy tính đơn giản
  let num3: number = 0;
  let num4: number = 0;
  let result: number = 0;

  const add = () => {
    result = num3 + num4;
  };

  const subtract = () => {
    result = num3 - num4;
  };

  const multiply = () => {
    result = num3 * num4;
  };

  const divide = () => {
    if (num4 !== 0) {
      result = num3 / num4;
    } else {
      result = NaN;
    }
  };

  // Xác định số nguyên tố
  let numberToCheck: number = 0;
  let isPrime: boolean = false;

  const checkPrime = () => {
    if (numberToCheck <= 1) {
      isPrime = false;
      return;
    }

    if (numberToCheck <= 3) {
      isPrime = true;
      return;
    }

    if (numberToCheck % 2 === 0 || numberToCheck % 3 === 0) {
      isPrime = false;
      return;
    }

    let i = 5;
    while (i * i <= numberToCheck) {
      if (numberToCheck % i === 0 || numberToCheck % (i + 2) === 0) {
        isPrime = false;
        return;
      }
      i += 6;
    }
    isPrime = true;
  };

  // Tạo bộ đếm thời gian
  let seconds: number = 0;
  let interval: number | undefined;

  const startTimer = () => {
    interval = setInterval(() => {
      seconds++;
    }, 1000);
  };

  const stopTimer = () => {
    clearInterval(interval);
    interval = undefined;
  };

  const resetTimer = () => {
    seconds = 0;
    stopTimer();
  };
</script>

<main>
  <h1>Age</h1>
  <p>Age: {age}</p>

  <h1>Math Operatons</h1>
  <p>Num1: {num1}</p>
  <p>Num2: {num2}</p>

  <button on:click={calculate}>Calculate</button>
  <p>Sum: {sum}</p>
  <p>Difference: {difference}</p>
  <p>Product: {product}</p>
  <p>Quotient: {quotient}</p>

  <h1>Numbers</h1>
  <ul>
    {#each numbers as number}
      <li>{number}</li>
    {/each}
  </ul>

  <h1>Formatted Amount</h1>
  <p>Amount: {formatAmount()}</p>

  <h1>Array Indexing</h1>
  <p>Numbers: {numbers_1.join(",")}</p>
  <input type="number" bind:value={index} />
  <button on:click={showValue}>Show value</button>

  <h1>Looping</h1>
  <p>Number of Iterations: {numberOfIterations}</p>
  <button on:click={performIteration}>Perform Iterations</button>
  <p>Iterations Completed: {iterationCount}</p>

  <h1>Simple Calculate</h1>
  <input type="number" bind:value={num3} />
  <input type="number" bind:value={num4} />

  <button on:click={add}>Add</button>
  <button on:click={subtract}>Subtract</button>
  <button on:click={multiply}>Multiply</button>
  <button on:click={divide}>Divide</button>
  <p>Result: {result}</p>

  <h1>Simple Timer</h1>
  <p>Seconds: {seconds}</p>
  <button on:click={startTimer}>Start</button>
  <button on:click={stopTimer}>Stop</button>
  <button on:click={resetTimer}>Reset</button>

  <h1>Prime Number Checker</h1>
  <input type="number" bind:value={numberToCheck} />
  <button on:click={checkPrime}>Check Prime</button>
  <p>{numberToCheck} is {isPrime ? "a prime" : "not a prime"} number.</p>
</main>
