<script lang="ts">
  import { onMount } from "svelte";

  let inputElement: HTMLInputElement | null;
  onMount(() => {
    if (inputElement) {
      inputElement.focus();
    }
  });
</script>

<main>
  <input bind:this={inputElement} />
</main>
