<script lang="ts">
  let count: number = 0;

  const incrementCount = () => {
    count++;
  };

  let showText: boolean = false;
  const toggleText = () => {
    showText = !showText;
  };

  let isMenuOpen: boolean = false;

  const toggleMenu = () => {
    isMenuOpen = !isMenuOpen;
  };

  const handleClick = (event: MouseEvent) => {
    const x = event.clientX;
    const y = event.clientY;
    alert(`Clicked at (${x}, ${y})`);
  };

  let clickedElement: string = "";
  const handleClick_1 = (event: MouseEvent) => {
    clickedElement = (event.target as HTMLElement).tagName;
  };
</script>

<main>
  <p>Count: {count}</p>
  <button on:click={incrementCount}>+1</button>

  <button on:click={toggleText}>Toggle Text</button>
  {#if showText}
    <p>This test is shown/hidden based on the button click</p>
  {/if}

  <button on:click={toggleMenu}>Toggle Menu</button>
  {#if isMenuOpen}
    <ul>
      <li>Option 1</li>
      <li>Option 2</li>
      <li>Option 3</li>
    </ul>
  {/if}

  <button
    on:click={handleClick}
    style="width: 200px; height: 200px; background-color: lightblue;"
  >
    Click me
  </button>

  <!-- <div on:click={handleClick_1}>
    <p>Click me</p>
    <button>Click me too!</button>
  </div>

  <p>Clicked on: {clickedElement}</p> -->
</main>
