<script lang="ts">
  const TRAFFIC_LIGHTS: string[] = ["red", "orange", "green"];
  let lightIndex: number = 0;

  let light: string = TRAFFIC_LIGHTS[lightIndex];

  const nextLight = () => {
    lightIndex = (lightIndex + 1) % TRAFFIC_LIGHTS.length;
    light = TRAFFIC_LIGHTS[lightIndex];
  };
</script>

<main>
  <button on:click={nextLight}>Next light</button>
  <p>Light is: {light}</p>

  <p>
    You must
    {#if light === "red"}
      <span>Stop</span>
    {:else if light === "green"}
      <span>SLOW DOWN</span>
    {:else if light === "orange"}
      <span>Go</span>
    {/if}
  </p>
</main>
