<script lang="ts">
  import { format } from "date-fns";
  // Hiển thị một chuỗi trong ứng dụng
  let greeting: string = "Hello, Svelte with TypeScript";

  // Thay đổi giá trị chuỗi bằng cách sử dụng các sự kiện
  let message: string = "";

  const updateMessage = (event: Event) => {
    const input = event.target as HTMLInputElement;
    message = input.value;
  };

  // Định dạng và xử lý chuỗi
  let text: string = "This is a sample text";

  const toUpperCase = () => {
    text = text.toUpperCase();
  };

  const toLowerCase = () => {
    text = text.toLocaleLowerCase();
  };

  const reverse = () => {
    text = text.split("").reverse().join("");
  };
  // Sử dụng chuỗi động trong vòng lặp
  let fruits: string[] = ["Apple", "Banana", "Cherry", "Date"];

  // Tách và ghép chuỗi
  let firstName: string = "John";
  let lastName: string = "Done";
  let fullName: string = "";

  const updateFullName = () => {
    fullName = `${firstName} ${lastName}`;
  };

  // Kiểm tra chuỗi con
  let text_string: string = "This is a sample text";
  let substringToCheck: string = "";

  const containsSubstring = (substring: string): boolean => {
    return text_string.includes(substring);
  };

  // Định dạng chuỗi ngày giờ

  let currentDate: Date = new Date();

  function formatDateTime(date: Date, formatString: string): string {
    return format(date, formatString);
  }
</script>

<main>
  <h1>{greeting}</h1>

  <h1>{message}</h1>
  <input type="text" bind:value={message} on:input={updateMessage} />

  <h1>{text}</h1>
  <button on:click={toUpperCase}>toUpperCase</button>
  <button on:click={toLowerCase}>toLowerCase</button>
  <button on:click={reverse}>Reverse</button>

  <h1>Fruits</h1>
  <ul>
    {#each fruits as fruit}
      <li>{fruit}</li>
    {/each}
  </ul>

  <h1>Full Name</h1>
  <p>{fullName}</p>
  <button on:click={updateFullName}>Update Full Name</button>

  <h1>Substring Check</h1>
  <p>Text: {text_string}</p>
  <input type="text" bind:value={substringToCheck} />
  <button on:click={() => console.log(containsSubstring(substringToCheck))}>
    Check Substring
  </button>

  <h1>Date and Time Formatting</h1>
  <p>Current Date and Time: {currentDate.toString()}</p>
  <p>Formatted Date: {formatDateTime(currentDate, "yyyy-MM-dd HH:mm:ss")}</p>
</main>
