<script lang="ts">
  // Hiển thị mảng lên trang
  let numbers: number[] = [1, 2, 3, 4, 5, 6, 7, 8];
  let sortOrder: "ascending" | "descending" = "ascending";

  // Thêm và xóa phần tử khỏi mảng
  let fruits: string[] = ["Apple", "Banana", "Cherry"];
  let newFruits: string = "";

  const addFruit = () => {
    if (newFruits.trim() !== "") {
      fruits = [...fruits, newFruits];
      newFruits = "";
    }
  };

  const removeFruit = (index: number) => {
    fruits = fruits.filter((_, i) => i !== index);
  };

  // Tính tổng các số trong mảng
  const calculateSum = () => {
    return numbers.reduce((acc, current) => acc + current, 0);
  };
  // Sắp xếp mảng
  const sortNumbers = () => {
    if (sortOrder === "ascending") {
      numbers = numbers.sort((a, b) => a - b);
    } else {
      numbers = numbers.sort((a, b) => b - a);
    }
  };
</script>

<main>
  <h1>Numbers</h1>
  <ul>
    {#each numbers as number}
      <li>{number}</li>
    {/each}
  </ul>

  <h1>Fruits</h1>
  <ul>
    {#each fruits as fruit, index (fruit)}
      <li>
        {fruit}
        <button on:click={() => removeFruit(index)}>Remove</button>
      </li>
    {/each}
  </ul>
  <input type="text" bind:value={newFruits} />
  <button on:click={addFruit}>Add Fruit</button>
  <ul />
  <h1>Sum of Number</h1>
  <ul>
    {#each numbers as number}
      <li>{number}</li>
    {/each}
  </ul>
  <p>Sum: {calculateSum()}</p>

  <h1>Sort Numbers</h1>
  <ul>
    {#each numbers as number}
      <li>{number}</li>
    {/each}
  </ul>
  <button on:click={sortNumbers}>Sort {sortOrder}</button>
</main>
