<script>
  const colors = ["red", "green", "blue"];
  const numbers = ["0", "1", "2", "3", "4"];
</script>

<main>
  <ul>
    {#each colors as color}
      <li>{color}</li>
    {/each}

    {#each numbers as numbers}
      <li>{numbers}</li>
    {/each}
  </ul>
</main>
