<script lang="ts">
  // Sử dụng đối tượng trong from
  let person: { name: string; age: number } = {
    name: "John",
    age: 30,
  };

  let greeting: string = "";

  const updatePersonName = (event: Event) => {
    const input = event.target as HTMLInputElement;
    person.name = input.value;
  };
  const updatePersonAge = (event: Event) => {
    const input = event.target as HTMLInputElement;
    person.age = parseInt(input.value);
  };

  // Duyệt qua các thuộc tính của đối tượng
  let car: { make: string; model: string; year: number; color: string } = {
    make: "Toyota",
    model: "Camry",
    year: 2022,
    color: "Blue",
  };

  const greet = () => {
    greeting = `Hello, my name is ${person.name} and I'm ${person.age} years old`;
  };
</script>

<main>
  <h1>Person Information</h1>
  <h1>Name</h1>
  <input type="text" bind:value={person.name} on:input={updatePersonName} />
  <h1>Age</h1>
  <input type="text" bind:value={person.age} on:input={updatePersonAge} />
  <p>Name: {person.name}</p>
  <p>Age: {person.age}</p>

  <h1>Car Information</h1>
  <ul>
    {#each Object.entries(car) as [key, value] (key)}
      <li>{key}: {value}</li>
    {/each}
  </ul>
  <h1>Greeting</h1>
  <button on:click={greet}>Greet</button>
  <p>{greeting}</p>
</main>
